#tags button {
    background-color: #222222;
}

#tags button.occupied {
    background-color: #666666;
}

#tags button.focused {
    background-color: #005577;
}

#idle_inhibitor {
    background-color: #666666;
    padding-left: 12px;
    padding-right: 12px;
}

#battery {
    background-color: #222222;
    padding-left: 12px;
    padding-right: 12px;
}

#clock {
    background-color: #666666;
    padding-left: 12px;
    padding-right: 12px;
}

#pulseaudio {
    background-color: #222222;
    padding-left: 12px;
    padding-right: 12px;
}

#memory {
    background-color: #666666;
    padding-left: 12px;
    padding-right: 12px;
}

#tray {
    padding-left: 12px;
    padding-right: 12px;
}
