[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lc/Desktop/Music_work_in_progress]
row=4
col=0

[/home/lc/Desktop/linux_sysadmin_cert]
row=3
col=0

[/home/lc/Desktop/biblatex.pdf]
row=5
col=0

[/home/lc/Desktop/bookman]
row=2
col=0

[06D9-1517]
row=6
col=0

[Trash]
row=1
col=0

[/home/lc]
row=0
col=0

